@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teafc-blue: #0c95d4;
  --teafc-orange: #ff8b00;
  --teafc-light-blue: #eafaff;
  --teafc-light-orange: #ffcd91;
}

@layer components {
  .active-nav-link {
    position: relative;
  }
  .active-nav-link::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 2px;
    background-color: theme("colors.teafc-blue");
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
  .accordion-header {
    @apply cursor-pointer px-6 py-4;
  }
  .accordion-header.active svg,
  #founders-read-more-button:active svg,
  .program-card-read-more-button:active svg,
  .event-card-read-more-button:active svg {
    @apply rotate-180 transition duration-200 ease-in-out;
  }
  .accordion-body,
  .program-card-hidden-text,
  .event-card-hidden-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }

  .container-lg {
    @apply mx-auto px-6 py-5 lg:max-w-[76rem] lg:py-10 xl:px-0;
  }
  .container-md {
    @apply mx-auto px-6 py-5 lg:max-w-[72rem] lg:py-10 xl:px-0;
  }
  .container-sm {
    @apply mx-auto px-6 py-5 lg:max-w-[69rem] lg:py-10 xl:px-0;
  }
  .slider {
    scrollbar-width: thin; /* Width of the scrollbar for Firefox */
    scrollbar-color: var(--teafc-light-orange) var(--teafc-blue);
  }
  .slider::-webkit-scrollbar-width {
    height: 8px;
  }
  .slider::-webkit-scrollbar-thumb {
    background-color: var(--teafc-light-orange);
  }
  .slider::-webkit-scrollbar-track {
    background-color: var(--teafc-light-blue);
  }
}

#founders-hidden-text {
  transition: max-height 0.25s ease-in-out;
}
