@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teafc-blue: #0c95d4;
  --teafc-orange: #ff8b00;
  --teafc-light-blue: #eafaff;
  --teafc-light-orange: #ffcd91;
}

@layer components {
  .active-nav-link {
    position: relative;
  }
  .active-nav-link::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 2px;
    background-color: theme("colors.teafc-blue");
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
  .accordion-header {
    @apply cursor-pointer px-6 py-4;
  }
  .accordion-header.active svg {
    @apply rotate-180 transition duration-200 ease-in-out;
  }
  .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .slider {
    scrollbar-width: thin; /* Width of the scrollbar for Firefox */
    scrollbar-color: var(--teafc-light-orange) var(--teafc-blue);
  }
  .slider::-webkit-scrollbar-width {
    height: 8px;
  }
  .slider::-webkit-scrollbar-thumb {
    background-color: var(--teafc-light-orange);
  }
  .slider::-webkit-scrollbar-track {
    background-color: var(--teafc-light-blue);
  }
  .slider img {
    aspect-ratio: 1/1;
    flex: 1 0 33%;
    max-height: 40rem;
    scroll-snap-align: start;
    object-fit: cover;
  }
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2d3034bc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
