<div class="container-lg relative flex h-[75vh] items-center justify-center bg-gradient-to-tr from-sky-300 via-sky-400 to-blue-500">
  <img
    src="/assets/img/up-background2.avif"
    class="pointer-events-none fixed bottom-[-75%] left-0 mt-[36rem] h-[30rem] max-lg:animate-float-up-mobile lg:absolute lg:bottom-0 lg:h-[50rem] lg:animate-float-up-desktop xl:h-[50rem]"
    alt=""
  >
  <div class="flex flex-col justify-center py-20 lg:flex-row lg:py-48">
    <div class="flex flex-col gap-4 text-center font-bold text-white lg:gap-10">
      <h2 class="text-4xl lg:text-6xl xl:text-8xl">Lost?</h2>
      <h3 class="text-xl lg:text-2xl xl:text-4xl">Just part of the adventure!</h3>
      <div class="flex self-center pt-4">
        <a
          href="/"
          class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange md:text-lg"
        >
          Let’s head back.
        </a>
      </div>
    </div>
  </div>
</div>
