<div
  class="container-lg h-dvh bg-gradient-to-tr from-sky-300 via-sky-400 to-blue-500"
>
  <div class="container-lg flex flex-col pt-12 sm:pt-32 md:pt-48 lg:flex-row">
    <div class="animate-shrink-container flex flex-1 justify-center lg:animate-none">
      <img
        src="/assets/img/up-background2.avif"
        class="animate-float-up h-[30rem] lg:h-[40rem] xl:h-[50rem]"
        alt=""
      >
    </div>
    <div class="flex flex-col gap-10 pt-24 text-center font-bold text-white lg:gap-14 xl:gap-20">
      <h2 class="text-4xl lg:text-6xl xl:text-8xl">Lost?</h2>
      <h3 class="text-xl lg:text-2xl xl:text-4xl">Just part of the adventure!</h3>
      <div class="flex self-center pt-4">
        <a
          href="/"
          class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange md:text-lg"
        >
          Let’s head back.
        </a>
      </div>
    </div>
    <div class="invisible flex-1">Spacer</div>
  </div>
</div>
