<!-- content/about-us.liquid -->
<!-- Hero -->
<div class="w-full bg-gradient-to-b from-teafc-light-blue to-white">
  {% include 'partials/hero.liquid',
    hero_heading: hero_heading,
    hero_subheading: hero_subheading,
    hero_btn: hero_btn,
    display_button: display_button,
    swap_col: swap_col,
    img_round_large_screens: img_round_large_screens
  %}
</div>
{% include 'partials/info-cards-container.liquid' %}

{% include 'partials/accordions-container.liquid' %}

{% include 'partials/logo-cloud.liquid' %}

{% include 'partials/hero.liquid',
  hero_img: founders_img,
  hero_heading: founders_heading,
  hero_subheading: founders_subheading,
  swap_col: true,
  img_round_large_screens: img_round_large_screens
%}

{% include 'partials/newsletter.liquid' %}
