<!-- Variables -->
{% capture current-events-content %}
  {% include 'partials/current-events.liquid' %}
{% endcapture %}
<!-- Content -->
{% include 'partials/branded-container.liquid'
  , content: current-events-content %}
{% include 'partials/info-cards.liquid'
  , section_desc: section_desc %}


{% comment %} Heading for info cards {% endcomment %}
<div class="relative isolate overflow-hidden bg-white py-16 sm:py-20">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"></div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"></div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex flex-col mx-auto lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-6xl">OUR PROGRAM HIGHLIGHTS</h2>
      <p class="mt-6 text-lg leading-8 text-gray-500">
        Consectetur vel non. Rerum ut consequatur nobis unde. Enim est quo corrupti consequatur. Consectetur vel non. Rerum ut consequatur nobis unde. Enim est quo corrupti consequatur.
      </p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-10 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
      {% comment %} CARDS GO HERE {% endcomment %}
    </div>
  </div>
</div>