<div class="container-lg pb-0">
  <h1 class="text-center text-3xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-5xl lg:text-5xl">
    OUR PROGRAMS
  </h1>
  <p class="mt-3 text-lg leading-8 text-gray-600">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Placerat in egestas erat imperdiet sed euismod nisi. At lectus urna duis convalli
  </p>
  <div class="sm:container-lg hidden sm:block">
    <div id="orange-line" class="h-2 w-full bg-teafc-orange p-0"></div>
  </div>
</div>

<div class="container-md flex flex-col gap-8">
  <div class="mx-auto flex max-w-2xl flex-col items-center gap-x-8 gap-y-8 rounded-3xl bg-teafc-light-blue p-10 shadow-md lg:mx-0 lg:max-w-none lg:flex-row">
    <div class="flex h-full items-center lg:max-w-50%">
      <img class="h-full w-full rounded-3xl object-cover" src="/assets/img/camp2.avif" alt="">
    </div>
    <div class="lg:max-w-50%">
      <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
        <h1 class="text-center text-2xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-3xl lg:text-3xl">
          Academy
        </h1>
        <div class="max-w-xl">
          <p class="mt-4">Join a supportive and inclusive community where adults with special needs can thrive.</p>
          <p class="program-card-hidden-text mt-8 hidden">
            Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor
            fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac
            adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
          </p>
        </div>
        <button
          id="founders-read-more-button"
          role="button"
          aria-controls="founders-hidden-text"
          aria-expanded="false"
          name="founders-read-more-button"
          class="mt-4 flex items-center justify-center gap-1 font-semibold text-gray-700"
        >
          Read More
          <svg
            class="h-5 w-5 flex-none transform text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <dl class="mb-8 mt-6 flex gap-4 border-t border-gray-900/10 pt-6 sm:justify-start sm:gap-8 xl:mb-12">
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Age Group</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">18+</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Time of Year</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">Spring/Fall</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Duration</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">10 Weeks</dd>
        </div>
      </dl>
      <a
        href="/mental-health/"
        class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
      >
        Learn More
      </a>
    </div>
  </div>
  <div class="mx-auto flex max-w-2xl flex-col items-center gap-x-8 gap-y-8 rounded-3xl bg-teafc-light-blue p-10 shadow-md lg:mx-0 lg:max-w-none lg:flex-row">
    <div class="flex h-full items-center lg:max-w-50%">
      <img class="h-full w-full rounded-3xl object-cover" src="/assets/img/camp2.avif" alt="">
    </div>
    <div class="lg:max-w-50%">
      <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
        <h1 class="text-center text-2xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-3xl lg:text-3xl">
          Academy
        </h1>
        <div class="max-w-xl">
          <p class="mt-4">Join a supportive and inclusive community where adults with special needs can thrive.</p>
          <p class="program-card-hidden-text mt-8 hidden">
            Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor
            fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac
            adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
          </p>
        </div>
        <button
          id="founders-read-more-button"
          role="button"
          aria-controls="founders-hidden-text"
          aria-expanded="false"
          name="founders-read-more-button"
          class="mt-4 flex items-center justify-center gap-1 font-semibold text-gray-700"
        >
          Read More
          <svg
            class="h-5 w-5 flex-none transform text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <dl class="mb-8 mt-6 flex gap-4 border-t border-gray-900/10 pt-6 sm:justify-start sm:gap-8 xl:mb-12">
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Age Group</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">18+</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Time of Year</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">Spring/Fall</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Duration</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">10 Weeks</dd>
        </div>
      </dl>
      <a
        href="/mental-health/"
        class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
      >
        Learn More
      </a>
    </div>
  </div>
  <div class="mx-auto flex max-w-2xl flex-col items-center gap-x-8 gap-y-8 rounded-3xl bg-teafc-light-blue p-10 shadow-md lg:mx-0 lg:max-w-none lg:flex-row">
    <div class="flex h-full items-center lg:max-w-50%">
      <img class="h-full w-full rounded-3xl object-cover" src="/assets/img/camp2.avif" alt="">
    </div>
    <div class="lg:max-w-50%">
      <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
        <h1 class="text-center text-2xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-3xl lg:text-3xl">
          Academy
        </h1>
        <div class="max-w-xl">
          <p class="mt-4">Join a supportive and inclusive community where adults with special needs can thrive.</p>
          <p class="program-card-hidden-text mt-8 hidden">
            Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor
            fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac
            adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
          </p>
        </div>
        <button
          id="founders-read-more-button"
          role="button"
          aria-controls="founders-hidden-text"
          aria-expanded="false"
          name="founders-read-more-button"
          class="mt-4 flex items-center justify-center gap-1 font-semibold text-gray-700"
        >
          Read More
          <svg
            class="h-5 w-5 flex-none transform text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <dl class="mb-8 mt-6 flex gap-4 border-t border-gray-900/10 pt-6 sm:justify-start sm:gap-8 xl:mb-12">
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Age Group</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">18+</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Time of Year</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">Spring/Fall</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Duration</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">10 Weeks</dd>
        </div>
      </dl>
      <a
        href="/mental-health/"
        class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
      >
        Learn More
      </a>
    </div>
  </div>
  <div class="mx-auto flex max-w-2xl flex-col items-center gap-x-8 gap-y-8 rounded-3xl bg-teafc-light-blue p-10 shadow-md lg:mx-0 lg:max-w-none lg:flex-row">
    <div class="flex h-full items-center lg:max-w-50%">
      <img class="h-full w-full rounded-3xl object-cover" src="/assets/img/camp2.avif" alt="">
    </div>
    <div class="lg:max-w-50%">
      <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
        <h1 class="text-center text-2xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-3xl lg:text-3xl">
          Academy
        </h1>
        <div class="max-w-xl">
          <p class="mt-4">Join a supportive and inclusive community where adults with special needs can thrive.</p>
          <p class="program-card-hidden-text mt-8 hidden">
            Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor
            fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac
            adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
          </p>
        </div>
        <button
          id="founders-read-more-button"
          role="button"
          aria-controls="founders-hidden-text"
          aria-expanded="false"
          name="founders-read-more-button"
          class="mt-4 flex items-center justify-center gap-1 font-semibold text-gray-700"
        >
          Read More
          <svg
            class="h-5 w-5 flex-none transform text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <dl class="mb-8 mt-6 flex gap-4 border-t border-gray-900/10 pt-6 sm:justify-start sm:gap-8 xl:mb-12">
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Age Group</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">18+</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Time of Year</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">Spring/Fall</dd>
        </div>
        <div>
          <dt class="text-sm font-semibold leading-6 text-gray-600">Duration</dt>
          <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">10 Weeks</dd>
        </div>
      </dl>
      <a
        href="/mental-health/"
        class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
      >
        Learn More
      </a>
    </div>
  </div>
</div>

{% include 'partials/info-cards-container.liquid' %}

{% comment %} {% include 'partials/specialists-container.liquid' %} {% endcomment %}

{% include 'partials/newsletter.liquid' %}
