{% include 'partials/hero.liquid',
  hero_heading: hero_heading,
  hero_subheading: hero_subheading,
  hero_btn: hero_btn,
  display_btn: hero_display_btn,
  swap_col: hero_swap_col,
  img_round_large_screens: hero_img_round_large_screens,
  under_header: hero_under_header
%}

{% include 'partials/contact-cards.liquid' %}

<div class="container-lg">
  <div class="flex items-center justify-center bg-teafc-blue">
    <div class="max-w-[60rem] p-10">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d693.5504244957312!2d-118.48877201834293!3d34.22045479015601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c29bb29c394293%3A0xfb260372f540d6b4!2sThe%20Ed%20Asner%20Family%20Center!5e0!3m2!1sen!2sus!4v1722816657110!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="flex flex-1 items-center justify-center">
      <div class="flex max-w-64 flex-col gap-10">
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl font-bold text-white">VISIT US</h2>
          <h3 class="text-lg font-semibold text-white">
            Address: <span class="font-normal">16340 Roscoe Blvd. Van Nuys, CA 91406</span>
          </h3>
        </div>
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl font-bold text-white">CENTER HOURS</h2>
          <h3 class="text-lg font-semibold text-white">Monday - Friday:<span class="font-normal"> 9AM - 3PM</span></h3>
          <h3 class="text-lg font-semibold text-white">Saturday - Sunday:<span class="font-normal"> Closed</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'partials/accordions-container.liquid' %}

{% include 'partials/newsletter.liquid' %}
