{% include "partials/hero.liquid" %}

<!-- Heading for info cards -->
<div class="relative isolate overflow-hidden bg-white py-16 sm:py-20">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"></div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"></div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex flex-col mx-auto lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-6xl">{{ what_we_do_title }}</h2>
      <p class="mt-6 text-lg leading-8 text-gray-500">{{ what_we_do_subtitle }}</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-10 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <!-- Card 1 -->
    {% include "partials/info-card.liquid"
      , card_img: card_1_img
      , card_title: card_1_title
      , card_date_time: card_1_date_time
      , card_desc: card_1_desc
      , btn_txt: card_1_btn_txt %}
      <!-- Card 2 -->
      {% include "partials/info-card.liquid"
        , card_img: card_2_img
        , card_title: card_2_title
        , card_date_time: card_2_date_time
        , card_desc: card_2_desc
        , btn_txt: card_2_btn_txt %}
    </div>
  </div>
</div>

{% include "partials/accordions-container.liquid" %}

{% include "partials/message-section.liquid" %}

{% include "partials/newsletter.liquid" %}