<!-- content/index.liquid -->
<!-- Hero -->
<div class="w-full bg-gradient-to-b from-teafc-light-blue to-white">
  {% include 'partials/hero.liquid',
    hero_heading: hero_heading,
    hero_subheading: hero_subheading,
    hero_btn: hero_btn,
    display_btn: hero_display_btn,
    swap_col: hero_swap_col,
    img_round_large_screens: hero_img_round_large_screens,
    under_header: hero_under_header
  %}
</div>

{% comment %} {% include 'partials/current-events.liquid' %} {% endcomment %}

{% include 'partials/info-cards-container.liquid' %}

{% include 'partials/calendar.liquid' %}

{% include 'partials/get-involved.liquid' %}

{% include 'partials/testimonials.liquid' %}

{% include 'partials/newsletter.liquid' %}

{% include 'partials/img-gallery.liquid' %}
