<img src="/assets/img/poker.avif" alt="" class="mx-auto" width="500rem" height="500rem">
<div class="text-center">
  <h2>15th June</h2>
  <h3>Radford Studios, Studio City</h3>
  <button class="rounded-2xl bg-teafc-orange px-12 py-6">GET TICKETS</button>
</div>
<div class="bg-teafc-orange p-12">About Poker</div>
