<!-- Sponsorship Section -->
<div class="container-lg">
  <div class="flex flex-col">
    <h2 class="text-3xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-4xl lg:text-4xl">Sponsorships</h2>
  </div>

  <div class="mt-12 grid grid-cols-1 justify-items-center gap-4 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex w-full flex-col justify-center rounded-xl bg-neutral-100 px-7 py-7">
      <div class="flex-1">
        <div class="mb-2 text-xl font-semibold text-gray-700">PRESENTING</div>
        <div class="mb-4 text-xl text-gray-600 opacity-85">$100,000</div>
        <ul class="mb-7">
          <li class="mb-1 text-gray-500 before:content-['-_']">Recognition as requested</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">35 tickets to event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Featured on invitation*</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Full-page digital ad**</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Presenting signage at event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Website listing</li>
        </ul>
      </div>
      <div class="button flex min-h-10 w-full items-center justify-center rounded-lg border-teafc-orange bg-teafc-orange text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange">
        <a role="button" class="flex h-full w-full items-center justify-center p-2" href="/contact/">Purchase</a>
      </div>
    </div>

    <div class="flex w-full flex-col justify-center rounded-xl bg-neutral-100 px-7 py-7">
      <div class="flex-1">
        <div class="mb-2 text-xl font-semibold text-gray-700">PRESENTING</div>
        <div class="mb-4 text-xl text-gray-600 opacity-85">$100,000</div>
        <ul class="mb-7">
          <li class="mb-1 text-gray-500 before:content-['-_']">25 tickets to event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Featured on invitation*</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Full-page digital ad**</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Emerald signage at event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Website listing</li>
        </ul>
      </div>
      <div class="button flex min-h-10 w-full items-center justify-center rounded-lg border-teafc-orange bg-teafc-orange text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange">
        <a role="button" class="flex h-full w-full items-center justify-center p-2" href="/contact/">Purchase</a>
      </div>
    </div>

    <div class="flex w-full flex-col justify-center rounded-xl bg-neutral-100 px-7 py-7">
      <div class="flex-1">
        <div class="mb-2 text-xl font-semibold text-gray-700">PRESENTING</div>
        <div class="mb-4 text-xl text-gray-600 opacity-85">$100,000</div>
        <ul class="mb-7">
          <li class="mb-1 text-gray-500 before:content-['-_']">15 tickets to event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Included on invitation*</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Full-page digital ad**</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Ruby signage at event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Website listing</li>
        </ul>
      </div>
      <div class="button flex min-h-10 w-full items-center justify-center rounded-lg border-teafc-orange bg-teafc-orange text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange">
        <a role="button" class="flex h-full w-full items-center justify-center p-2" href="/contact/">Purchase</a>
      </div>
    </div>

    <div class="flex w-full flex-col justify-center rounded-xl bg-neutral-100 px-7 py-7">
      <div class="flex-1">
        <div class="mb-2 text-xl font-semibold text-gray-700">PRESENTING</div>
        <div class="mb-4 text-xl text-gray-600 opacity-85">$100,000</div>
        <ul class="mb-7">
          <li class="mb-1 text-gray-500 before:content-['-_']">10 tickets to event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Included on invitation*</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Full-page digital ad**</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Platinum signage at event</li>
          <li class="mb-1 text-gray-500 before:content-['-_']">Website listing</li>
        </ul>
      </div>
      <div class="button flex min-h-10 w-full items-center justify-center rounded-lg border-teafc-orange bg-teafc-orange text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange">
        <a role="button" class="flex h-full w-full items-center justify-center p-2" href="/contact/">Purchase</a>
      </div>
    </div>
  </div>
</div>
