<div id="container" class="flex flex-col justify-between items-center sm:flex-row gap-4 px-8 my-20">
  <div id="contacts" class="flex flex-col justify-center w-96 gap-3">
    <h2 class="text-3xl text-gray-700 font-semibold">Contacts</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat in egestas erat imperdiet sed euismod nisi. At lectus.</p>
  </div>
  <div id="card" class="flex flex-col w-80 bg-teafc-orange py-8 px-8 rounded-xl gap-3">
    <h2>Full Name</h2>
    <h3>
      <i>Office Name</i>
    </h3>
    <h1>Phone Number</h1>
    <h1>Email</h1>
  </div>
  <div id="card" class="flex flex-col w-80 bg-teafc-orange py-8 px-8 rounded-xl gap-3">
    <h2>Full Name</h2>
    <h3>
      <i>Office Name</i>
    </h3>
    <h1>Phone Number</h1>
    <h1>Email</h1>
  </div>
</div>