<div id="container" class="container-lg flex flex-col items-center justify-between gap-4 px-8 sm:flex-row">
  <div id="contacts" class="flex flex-col justify-center gap-3 sm:max-w-52 lg:max-w-[30rem]">
    <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-4xl">CONTACTS</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Placerat in egestas erat imperdiet sed euismod nisi. At lectus.
    </p>
  </div>
  <div id="card" class="flex w-80 flex-col gap-3 rounded-xl bg-teafc-orange px-8 py-8">
    <h2>Full Name</h2>
    <h3>
      <i>Office Name</i>
    </h3>
    <h1>Phone Number</h1>
    <h1>Email</h1>
  </div>
  <div id="card" class="flex w-80 flex-col gap-3 rounded-xl bg-teafc-orange px-8 py-8">
    <h2>Full Name</h2>
    <h3>
      <i>Office Name</i>
    </h3>
    <h1>Phone Number</h1>
    <h1>Email</h1>
  </div>
</div>
