<div id="col-container" class="mx-auto my-10 flex max-w-7xl flex-col rounded-3xl pb-10 pt-10 sm:pb-10">
  <div id="content-container" class="flex flex-wrap-reverse gap-4 sm:flex-nowrap">
    <div id="image-container" class="flex basis-1/4 lg:h-56">
      {% comment %} 👇 Probably don't need this div  {% endcomment %}
      <div class="flex justify-center">
        <img
          src="{{ enrichment_img }}"
          alt=""
          class="aspect-[4/3] rounded-2xl"
          {% imageDimensions enrichment_img %}
        >
      </div>
    </div>
    <div id="text-content-container" class="flex flex-auto basis-2/4 flex-col gap-2">
      <div id="title" class="flex ">{{ enrichment_title }}</div>
      <div id="paragraph" class="flex ">{{ enrichment_paragraph }}</div>
    </div>
  </div>
</div>
