<!-- /_includes/partials/hero.liquid -->
<div class="container-md lg:grid lg:grid-cols-2 lg:gap-x-8">
  <!-- HERO LEFT -->
  <div class="mt-10 sm:mt-24 md:mx-auto md:max-w-4xl lg:mx-0 lg:mt-0">
    <div class="lg:pt-4">
      <img
        src="{{ hero_img }}"
        alt=""
        class="lg:rounded-2xl"
      >
    </div>
  </div>
  <!-- HERO RIGHT -->
  <div class="flex flex-col justify-center lg:pt-4">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ hero_heading }}</h1>
    <p class="mt-3 text-base leading-8 text-gray-600">{{ hero_subheading }}</p>
    <img
      class="py-5"
      src="/assets/img/signatures.svg"
      alt="Matt and Navah Asner signature"
    >
  </div>
</div>
