<!-- HERO LEFT -->
<div
    class="mx-auto max-w-7xl pb-10 pt-10 sm:pb-10 mb-20 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:pl-8 bg-gradient-to-b from-teafc-light-blue to-white">
    <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
            <div class="max-w-lg">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">We help neurodivergent
                    individuals thrive</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Award-winning programs for neurodivergent individuals
                    and their families.</p>
                <div class="mt-10 flex items-center gap-x-6">
                    <a href="#"
                        class="rounded-md bg-teafc-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-light-blue-50-opacity focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Learn
                        More</a>
                    {% comment %} <a href="#" class="text-sm font-semibold leading-6 text-gray-900">View on GitHub
                        <span aria-hidden="true">→</span>
                    </a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- HERO RIGHT -->
    <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-4xl lg:mx-0 lg:mt-0">
        <div class="px-6 lg:px-0 lg:pt-4">
            <img src="/assets/img/camp2.png" alt="" class="rounded-2xl lg:rounded-r-none lg:rounded-l-2xl">
        </div>
    </div>