<div class="overflow-hidden mx-5 md:mx-0 my-5 lg:my-0 lg:mt-5 lg:mb-10 flex items-center justify-center bg-gray-300 h-72 md:h-84 lg:h-96 relative">
    <div class="absolute drop-shadow-2xl">
        <img class="" src="https://i.imgur.com/VTEunCz.jpeg" alt="">
    </div>
    <h1 class="text-center relative mx-4 text-3xl md:text-5xl font-bold py-4 text-white">Welcome to the Ed Asner Family Center</h1>
</div>