<!-- /partials/img-gallery.liquid -->
<div class="container-lg {{ img_slider_bottom_padding_class }}">
  <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
    {% for img in image_gallery %}
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="{{ img.img_url }}"
          alt=""
          {% imageDimensions img.img_url %}
        >
      </div>
    {% endfor %}
  </div>
</div>
