<div class="relative isolate overflow-hidden bg-white py-24 sm:py-32">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"></div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"></div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-6xl">Support center</h2>
      <p class="mt-6 text-lg leading-8 text-gray-500">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
      <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-2 ring-inset ring-teafc-orange h-96">
        <div class="text-base leading-7">
          <h3 class="font-semibold text-gray-700">Sales</h3>
          <p class="mt-2 text-gray-500">Consectetur vel non. Rerum ut consequatur nobis unde. Enim est quo corrupti consequatur.</p>
        </div>
      </div>
      <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-2 ring-inset ring-teafc-orange">
        <div class="text-base leading-7">
          <h3 class="font-semibold text-gray-700">Technical Support</h3>
          <p class="mt-2 text-gray-500">Quod possimus sit modi rerum exercitationem quaerat atque tenetur ullam.</p>
        </div>
      </div>
      <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-2 ring-inset ring-teafc-orange">
        <div class="text-base leading-7">
          <h3 class="font-semibold text-gray-700">Media Inquiries</h3>
          <p class="mt-2 text-gray-500">Ratione et porro eligendi est sed ratione rerum itaque. Placeat accusantium impedit eum odit.</p>
        </div>
      </div>
    </div>
  </div>
</div>