<!-- _includes/partials/logo-cloud.liquid -->
<div class="container-sm flex flex-col">
  <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-6xl">{{ what_we_do_title }}</h2>
  <p class="mt-6 text-lg leading-8 text-gray-500">{{ what_we_do_subtitle }}</p>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-3 sm:gap-x-40 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <img
          class="col-span-2 max-h-48 w-full object-contain lg:col-span-1"
          src="/assets/img/zooz.svg"
          alt="Transistor"
          width="158"
          height="48"
        >
        <img
          class="col-span-2 max-h-40 w-full object-contain lg:col-span-1"
          src="/assets/img/funko.svg"
          alt="Reform"
          width="387"
          height="121"
        >
        <img
          class="col-span-2 max-h-40 w-full object-contain lg:col-span-1"
          src="/assets/img/straight-up-abilities.svg"
          alt="Tuple"
          width="363"
          height="185"
        >
      </div>
    </div>
  </div>
</div>
