<div class="container-lg">
  <div class="py-12 sm:py-24">
    <div class="mx-auto flex max-w-7xl flex-col gap-8 px-6 sm:gap-2 sm:px-0 lg:gap-6">
      <div class="min-w-1/1 mx-auto flex flex-col gap-4 sm:flex-row lg:mx-0 lg:max-w-none">
        <div class="my-auto flex basis-1/2 rounded-lg bg-red-800 align-middle">
          <img
            class="aspect-square h-auto object-cover"
            src="/assets/img/funko.avif"
            alt=""
            {% imageDimensions "/assets/img/funko.avif" %}
          >
        </div>
        <div class="flex basis-1/2 flex-col">
          <h3 class="mt-6 text-2xl font-bold leading-8 text-gray-900 md:text-4xl">{{ quad.title_1_no_separate }}</h3>
          <div class="w-1/1 h-1 bg-teafc-orange"></div>
          <p class="mt-4 text-base font-semibold leading-7 text-gray-600 md:text-xl">
            {{ quad.content_1_no_separate }}
          </p>
        </div>
      </div>

      <div class="min-w-1/1 mx-auto flex flex-col gap-4 sm:flex-row-reverse lg:mx-0 lg:max-w-none">
        <div class="my-auto flex basis-1/2 rounded-lg bg-red-800 align-middle">
          <img
            class="aspect-square h-auto object-cover"
            src="/assets/img/spencer.avif"
            alt=""
            {% imageDimensions "/assets/img/spencer.avif" %}
          >
        </div>
        <div class="flex basis-1/2 flex-col">
          <h3 class="mt-6 text-2xl font-bold leading-8 text-gray-900 md:text-4xl">{{ quad.title_2_no_separate }}</h3>
          <div class="w-1/1 h-1 bg-teafc-orange"></div>
          <p class="mt-4 text-base font-semibold leading-7 text-gray-600 md:text-xl">
            {{ quad.content_2_no_separate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
