<div class="bg-white py-24 md:py-32 lg:py-40">
  <div class="flex flex-col gap-8 md:gap-16 mx-auto max-w-7xl px-6 lg:px-8">

    <div class="flex flex-col gap-4 md:gap-8 mx-auto min-w-1/1 sm:flex-row lg:mx-0 lg:max-w-none ">
      <div class="aspect-square basis-1/2 bg-red-800 rounded-lg">
        <img class="aspect-square object-cover" src="https://i.imgur.com/89EXIqI.png" alt=""></div>
      <div class="flex flex-col basis-1/2">
        <h3 class="mt-6 text-2xl md:text-4xl font-bold leading-8 text-gray-900">{{ quad.title_1_no_separate }}</h3>
        <div class="w-1/1 h-1 bg-teafc-orange"></div>
        <p class="mt-4 text-base font-semibold md:text-xl leading-7 text-gray-600">{{ quad.content_1_no_separate }}</p>
      </div>
    </div>

    <div class="flex flex-col gap-4 md:gap-8 mx-auto min-w-1/1 sm:flex-row-reverse lg:mx-0 lg:max-w-none ">
      <div class="aspect-square basis-1/2 bg-red-800 rounded-lg">
        <img class="aspect-square object-cover" src="https://i.imgur.com/89EXIqI.png" alt=""></div>
      <div class="flex flex-col basis-1/2">
        <h3 class="mt-6 text-2xl md:text-4xl font-bold leading-8 text-gray-900">{{ quad.title_2_no_separate }}</h3>
        <div class="w-1/1 h-1 bg-teafc-orange"></div>
        <p class="mt-4 text-base font-semibold md:text-xl leading-7 text-gray-600">{{ quad.content_2_no_separate }}</p>
      </div>
    </div>
  </div>
</div>
