<!-- _includes/base.liquid -->

<!-- Variables -->
{% capture footer_content %}
  {% include 'partials/footer.liquid' %}
{% endcapture %}
<!-- HTML -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <meta name="description" content={{ description }}>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/img/logo.svg">
  </head>
  <body>
    {% include 'partials/banner.liquid' %}
    {% include 'partials/header.liquid' %}
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      {% comment %} {% include 'partials/divider.liquid' %} {% endcomment %}
      {% include 'partials/breadcrumbs.liquid' %}
      <main>
        {{ content }}
      </main>
      <footer>
        {% include 'partials/branded-container.liquid'
          , content: footer_content %}
      </footer>
    </div>
    <script src="/js/bundle.js" defer></script>
  </body>
</html>